:root {
	/* Brand Colors */
	--green: #495e57;
	--yellow: #f4ce14;
	--salmon: #ee9972;
	--light-salmon: #fbdabb;
	--light-grey: #edefee;
	--dark: #333333;
	--white: #ffffff;

	/* Typography */
	--font-display: "Markazi Text", serif;
	--font-body: "Karla", sans-serif;
}
